body {
    font-family: "fredoka" sans-serif;
    background-color: #1c253f;
}
section {
    color: white;
}
.bg-blue-dark {
    background-color:rgb(34, 50,107) ;
    border-radius: 12px;
}










