body {
    font-family: "Poppins",sans-serif;
    background: linear-gradient(90deg,orange,rgb(219, 85, 85),green);
    
}


.text-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2em;
}




