body{
    /*background: linear-gradient(360deg,purple,rgb(16, 88, 146));*/
    background: url(https://th.bing.com/th/id/OIP.NY-DwmLxtEIinLdi1DTAYwHaD5?w=302&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7);
    background-size: cover;
    background-attachment: fixed;
}

.card-custom-body {
    height: 45vh !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-color: black;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
}
.link {
    cursor: pointer;
}






